body {
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    display: flex;
}

.logo>img {
    height: 150px;
}

.description {
    padding: 25px 0;
    background-color: lightsalmon;
    
}

.submit-form {
    padding: 25px 0;
    background-color: lightgreen;
}

form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid skyblue;
    background-color: lightgreen;
}

footer {
    padding: 25px 0;
    background-color: darkslategray;
}